/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
, h2, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	
	vertical-align: baseline;
}
ul{
    text-decoration: none;
    list-style-type: none;
    
}
.text{
    display: flex;
    justify-content: space-between;
    color:#737373;
}
.text-center{
    
    margin: 40px;
    margin-left: 150px;
    color: #737373;
}
.img{
    display: flex;
    justify-content: space-between;

}
.img-wrapper{
    width: 80%;
    margin: 0 auto;
}
.icon{
   display: flex;
   margin-right: 30px;
}
.icon li{
    margin: 10px;
}
.text ul li {
    margin:20px;
}
h3{
    color:white;
}
button{
    color: white;
    background-color: #23A6F0;
    border-radius:2%;
    border-color: #23A6F0;
}

form input {
    height: 50px;
}
form button{
    height: 56px;
}
h1{
    color: rgb(0, 0, 0);
}