.text{
   display: flex;
   justify-content: space-around;
 color:  #737373;
}
ul{
    text-decoration: none;
    list-style-type: none;
}
.text-center{
    text-align: center;
    background-color: #FAFAFA;
    padding: 20px 20px;
    
}
.img{
    display: flex;
    
margin:10px 0px ;
}
.img a{margin-right: 10px;

}
.img-list li{
 margin-bottom: 30px;
}
div ul h2{

    color: black;
}